.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 20px;
    color: white;
}

.login-container {
    height: 32px;
    margin: 16px;
}

.login {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 10px;
}

.site-layout .site-layout-background {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #fff;
}

.ant-badge {
    margin: 8vw !important;
}

.content {
    position: relative;
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.diss {
    position: absolute;
}

.msg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
}