@font-face {
    font-family: "ChaoZiSheFengYunJian-2";
    src: url('./font/ChaoZiSheFengYunJian-2.ttf');
    font-style: normal;
    font-weight: normal;
}


/* .bcimg {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(./img/bc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .entring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 60%;
} */

.entring-msg {
    font-family: "黑体";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 40%;
    width: 100%;
    z-index: 10;
    font-size: 20px;
}

.title {
    font-family: "ChaoZiSheFengYunJian-2";
    font-size: 80px;
}

.entring-input {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.landinglabel {
    margin-top: 2vh;
    display: flex;
    width: 60%;
}

.landinglabel input {
    border-radius: 5px;
    border: 1px solid #6395D6;
    width: auto;
    width: 67%;
    color: #000;
}

.entring-button {
    position: absolute;
    background-color: #6395D6;
    cursor: pointer;
    text-align: center;
    width: 10%;
    border-radius: 20%;
    bottom: 10vh;
    height: 8vh;
    left: 50%;
    line-height: 8vh;
    text-align: center;
    font-size: 20px;
    transform: translateX(-50%);
}

.entring-button:hover {
    background-color: rgb(1, 131, 252);
}

.tip {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.la-span {
    background-color: #6395D6;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
}