.tostudy {
    margin-top: 2vh;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2140E3;
    height: 8vh;
    width: 15vw;
    border-radius: 8%;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.tostudy:hover {
    background-color: rgb(1, 131, 252);
}

.red {
    color: red;
}
.quiz-c {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(236,241,248);
}

.quiz-i {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 60%;
}

.quiz-content {
    width: 80%;
}

.quiz-h {
    margin-top: 5vh;
    color: #0095ff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5vh;
}

.quiz-t {
    margin-bottom: 5vh;
}

.quiz-q {
    font-size: 15px;
}

.quiz-q-i {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid gainsboro;
}