* {
    user-select: none;
}

.start {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 40%;
    width: 60%; */
    background-color: rgb(217, 218, 221);
    padding: 3vh 3vw;
    font-size: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.clause {
    margin-top: 1vh;
}

.button-quiz {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2140E3;
    height: 8vh;
    width: 15vw;
    border-radius: 8%;
    cursor: pointer;
    color: white;
}

.button-quiz:hover{
    background-color: rgb(1, 131, 252);
}

.forbid {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 15vw;
    border-radius: 8%;
    cursor: pointer;
    color: white;
    background-color: rgb(177, 177, 173);
}

.test {
    font-size: 18px;
    padding: 3vh 3vw;
    height: 100%;
    width: 100%;
    background-color: white;
}

.submit {
    margin-top: 4vh;
    color: white;
    width: 8vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2140E3;
    border-radius: 8%;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(1, 131, 252);
}

.no-submit {
    margin-top: 4vh;
    color: white;
    width: 8vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
    background-color: rgb(177, 179, 180);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    right: 3vw;
    top: 15vh;
    height: 8vh;
    width: 8vw;
    border-radius: 18%;
    background-color: rgb(96, 185, 244);
    color: white;
}