.toend {
    margin-top: 2vh;
    margin-left: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2140E3;
    height: 8vh;
    width: 15vw;
    border-radius: 8%;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.toend:hover {
    background-color: rgb(1, 131, 252);
}