.questions {
    margin-top: 4vh;
}

.question {
    margin-top: 2vh;
}

.answer {
    margin-top: 1vh;
}

.right {
    background-color: rgb(235, 235, 235);
    color: rgb(8, 117, 31);
}

.error {
    background-color: rgb(235, 235, 235);
    color: indianred;
}

.result {
    background-color: rgb(235, 235, 235);
}

input[type=radio] {
    margin-left: 1vw;
    margin-right: .3vw;
}

.radio {
    width: 100%;
    margin: 1vh;
    padding-left: 1vw;
}

.radio:hover {
    background-color: rgb(109, 179, 251);
}

label {
    height: 100%;
    width: 100%;
}
