.body {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 3vh 5vw;
}
.comment {
    padding:2vh 2vw;
    width: 80%;
}

.message {
    background-color: rgb(255, 255, 255);
    border: chocolate 1px solid;
    margin: 8vh 0;
    padding: 20px;
    font-size: 18px;
}

.hr {
    width: 100%;
    height: 1px;
    margin: 2vh 0;
    background-color: rgb(196, 196, 196);
}

.reply {
    display: flex;
    flex-direction: column;
}

.reply-detail {
    position: relative;
}

.reply-detail b {
    margin-left: 1vw;
}

.interaction {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 4vw;
    right: 15vw;
}

.likeicon {
    cursor: pointer;
}

.detail {
    margin-left: 3vw;
}

.quizB {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2140E3;
    height: 8vh;
    width: 15vw;
    border-radius: 8%;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.quizB:hover {
     background-color: rgb(1, 131, 252);
}