.body {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 3vh 5vw;
}
.comment {
    height: 8vh;
    padding-left: 2vw;
    width: 80%;
    background-color: rgb(240, 240, 240);
}

.hr {
    width: 100%;
    height: 1px;
    margin: 2vh 0;
    background-color: rgb(196, 196, 196);
}

.reply {
    display: flex;
    flex-direction: column;
}

.reply-detail b {
    margin-left: 1vw;
}